{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="tab-content">
		  	<div class="form-group">
              <div class="col-sm-12">
				<label>
				{{ entry_kit_payme_description }}
				
				</label>
              </div>
            </div>
		    <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="payment_kit_payme_status" id="input-status" class="form-control">
                  {% if payment_kit_payme_status==1 %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
		 	<div class="form-group">
				<label class="col-sm-2 control-label" for="input-status">Endpoint Url</label>
				<div class="col-sm-10">
					<div style="float: left; padding: 40px 40px 0px 40px;font-size: 24px;color: #fff; background-color: #816ff1;    width: 100%;">
					<em>{{ payment_kit_payme_callbak_url }} </em>
					<p class="description" style="margin-top: 40px; color: #fff;font-size: 14px;">
						{{ entry_kit_payme_endpoint_url }}
					</p>
				</div>
				</div>
            </div>
			
			<div class="form-group required">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_enabled }}</label>
              <div class="col-sm-10">
                <select name="payment_kit_payme_enabled" id="input-status" class="form-control">
                  {% if payment_kit_payme_enabled == "Y" %}
                  <option value="Y" selected="selected">YES</option>
                  <option value="N">NO</option>
                  {% else %}
                  <option value="Y">YES</option>
                  <option value="N" selected="selected">NO</option>
                  {% endif %}
                </select>
              </div>
            </div>

			<div class="form-group">
              <label class="col-sm-2 control-label" for="entry-app-id">{{ entry_kit_payme_redirect }}</label>
              <div class="col-sm-10">
                {{ order_return }}
              </div>
            </div>
			
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-app-id">{{ entry_kit_payme_merchant_id }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_kit_payme_merchant_id" value="{{ payment_kit_payme_merchant_id }}" placeholder="{{ entry_kit_payme_merchant_id }}" id="entry-app-id" class="form-control"/>
                {% if error_kit_payme_merchant_id %}
                <div class="text-danger">{{ error_kit_payme_merchant_id }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-merchant-private-key">{{ entry_merchant_private_key }}</label>
              <div class="col-sm-10">
                <textarea name="payment_kit_payme_merchant_private_key" rows="3" placeholder="{{ entry_merchant_private_key }}" id="entry-merchant-private-key" class="form-control">{{ payment_kit_payme_merchant_private_key }}</textarea>
                {% if error_merchant_private_key %}
                  <div class="text-danger">{{ error_merchant_private_key }}</div>
                {% endif %}
              </div>
            </div>
			
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-alipay-public-key">{{ entry_merchant_private_key_test }}</label>
              <div class="col-sm-10">
                <textarea name="payment_kit_payme_merchant_private_key_test" rows="3" placeholder="{{ entry_merchant_private_key_test }}" id="entry-alipay-public-key" class="form-control">{{ payment_kit_payme_merchant_private_key_test }}</textarea>
                {% if error_merchant_private_key_test %}
                  <div class="text-danger">{{ error_merchant_private_key_test }}</div>
                {% endif %}
              </div>
            </div>

			<div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-app-id">{{ entry_kit_payme_checkout_url }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_kit_payme_checkout_url" value="{{ payment_kit_payme_checkout_url }}" placeholder="{{ entry_kit_payme_checkout_url }}" id="entry-kit-payme-checkout-url" class="form-control"/>
                {% if error_kit_payme_checkout_url %}
                <div class="text-danger">{{ error_kit_payme_checkout_url }}</div>
                {% endif %}
              </div>
            </div>

			<div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-app-id">{{ entry_kit_payme_checkout_url_test }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_kit_payme_checkout_url_test" value="{{ payment_kit_payme_checkout_url_test }}" placeholder="{{ entry_kit_payme_checkout_url_test }}" id="entry-kit-payme-checkout-url-test" class="form-control"/>
                {% if error_kit_payme_checkout_url_test %}
                <div class="text-danger">{{ error_kit_payme_checkout_url_test }}</div>
                {% endif %}
              </div>
            </div>

			
			<div class="form-group required">
              <label class="col-sm-2 control-label" for="entry-app-id">{{ entry_kit_payme_mob }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_kit_payme_mob_payme" value="{{ payment_kit_payme_mob_payme }}" placeholder="{{ entry_kit_payme_mob }}" id="entry-kit-payme-checkout-url-test" class="form-control"/>
                {% if kit_payme_mob_payme %}
                <div class="text-danger">{{ error_kit_payme_mob_payme }}</div>
                {% endif %}
              </div>
            </div>
			
			<div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_kit_payme_callback_pay }}</label>
              <div class="col-sm-10">
                <select name="payment_kit_payme_callback_pay_time" id="payment-kit-payme-callback-pay-time" class="form-control">
                  {% for callback_pay_time in kit_payme_callback_pay_time %}
                    {% if callback_pay_time.value == payment_kit_payme_callback_pay_time %}
                      <option value="{{ callback_pay_time.order_status_id }}" selected="selected">{{ callback_pay_time.name }}</option>
                    {% else %}
                      <option value="{{ callback_pay_time.order_status_id }}">{{ callback_pay_time.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>			
			<div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_kit_payme_status_tovar }}</label>
              <div class="col-sm-10">
                <select name="payment_kit_payme_status_tovar" id="input-status" class="form-control">
                  {% if payment_kit_payme_status_tovar == 'Y' %}
                  <option value="Y" selected="selected">YES</option>
                  <option value="N">NO</option>
                  {% else %}
                  <option value="Y">YES</option>
                  <option value="N" selected="selected">NO</option>
                  {% endif %}
                </select>
              </div>
            </div>
			
          </div>
        </form>
        <div class="alert alert-info">{{ help_alipay_setup }}</div>
      </div>
    </div>
  </div>
</div>
{{ footer }}